<h1 mat-dialog-title [ngClass]="{ 'shake': retryPassword }" i18n="@@label.keyfileIsEncrypted">Keyfile is encrypted</h1>
<div mat-dialog-content>
  <p><ng-container i18n="@@text.keyfile">Keyfile</ng-container>: {{dialogData.keyfile.name}}</p>


  <button *ngIf="dialogData.needsKeyfile"
          mat-raised-button
          color="primary"
          (click)="wrappingKeyFileInput.click()"
          i18n="@@button.importWrappingKey">Import key to decrypt keyfile</button>

  <input #wrappingKeyFileInput hidden type="file" (change)="wrappingKeyFile = wrappingKeyFileInput.files[0]">


  <mat-form-field *ngIf="dialogData.needsPassword">
    <mat-label i18n="@@input.enterPassword">Enter password</mat-label>

    <input matInput
           [type]="passwordVisible ? 'text' : 'password'"
           name="keyfilePassword"
           (keyup.enter)="onImportClick()"
           [(ngModel)]="password"
           [ngClass]="{ 'shake': retryPassword }">

    <mat-icon matSuffix
              class="visibility-toggle"
              matTooltip="Show password"
              i18n-matTooltip="@@tooltip.showPassword"
              (click)="passwordVisible = !passwordVisible">
      {{passwordVisible ? 'visibility' : 'visibility_off'}}
    </mat-icon>

  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" i18n="@@button.cancel">Cancel</button>
  <button mat-button (click)="onImportClick()" color="primary" i18n="@@button.ok">OK</button>
</div>
